@font-face {
    font-family: 'Be Vietnam';
    src: url('./fonts/be-vietnam.woff2') format('woff2'),
         url('./fonts/be-vietnam.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Be Vietnam', sans-serif;
  }